#root, body {
  background-color:  #A8D6EB; 
}
.titleBox {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  
}

.mainHeader {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  /* font-stretch: expanded; */
}

.motto {
  font-family: 'Amatic SC', cursive;

}
.homeContentGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.missionStatement {
 background: black;
 padding: 3rem 0 ;
 width: 100%;
 color: white;
 text-align: center;
}

.homeContent {
  display: flex;
  margin: 1rem 1rem;
  width: 100%;
  justify-content: center;
}
.mainImage-1{
  width: 50%;
  justify-self: center;
  padding: 0 1rem;
  text-align: center;
}
.mainText {
  width: 50%;
  align-self: center;
  padding: 1rem 1rem;
  text-align: center
}
a.aContent {
  color: black;
  text-decoration: underline;
  
}
a.aContent:hover {
  color: darkgoldenrod;
}
.specialBanner {
  width: 100%;
  height: 2rem;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.bannerHead {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  font-style: italic;
}
.bannerMeta {
  margin: 0;
  
}
/* styles for the social media icons */
.social-container {
  padding: 1rem;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
 }
 
 a.social:hover {
 transform: translateY(-2px); 
 color: darkgoldenrod;
 }
 
 a.facebook {
 color: #4968ad;
 }
 
 a.twitter {
 color: #49a1eb;
 }
 
 a.instagram {
 color: black;
 }

 /*Email Style*/
.emailBox {
  text-align: center;
  font-size: 1.2em;
  font-family: 'Roboto Slab', serif;
  padding: .5em;
}

a.email {
  color: darkblue;
}

a.email:hover {
  color: darkgoldenrod;
}
/*Events Layout style*/
.twitter {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
/*Footer style*/
.footer {
  position: absolute;
  width: 100%;
  height: 5rem;
}

.footerFlex {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #696969;
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
}

.mainFooter {
  font-family: 'Permanent Marker', serif;
}
.phoneNum {
  font-family: 'Roboto Slab', serif;
  padding: .5em;
}
.poweredBy {
  font-family: 'Roboto Slab', serif;
  padding: .5em;
}
.bizAddress{
  padding: .5em;
}
/*Contact */
.contactContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
  flex-wrap: wrap;
  min-height: 100vh;
}
.contactTitle {
  display: flex;
  flex-flow: column;
  margin: 10rem 0 2rem;
  justify-content: center;
  justify-self: center;
  height: 5rem;
  width: 100%;
  font-family: "Merriweather", serif;
}
.contactForm {
  padding: 1rem 1rem;
  min-height: 40rem;
}
.contactHead {
  color:black;
  align-self: center;
  font-family: 'Solway', serif;
  padding-left: 1rem;

}
.contactMeta {
  align-self: center;
  font-family: 'Merriweather', serif;
}
/*FAQ Page style*/
.faqHead {
  text-align: center;
  padding: 1rem 0;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.faqContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 5rem 0;
}
.cardContainer {
  justify-content: center;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;

}
.faqCard {
 display: flex;
 align-items: center;
}
.cardHead {
  justify-content: center;
  padding: 1rem;
}
.cardMeta {
  justify-content: center;
  padding: 1rem;
}
/* Inventory */
.inventoryContainer {
  height: auto;
  padding: 5rem 0 5rem 0;
  margin-top: 2rem;
}
.proHead {
  text-align: center;
  padding: 1rem 0;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  color: white;
  background-color: black;
}
.imageProduct {
  align-self: center;
  justify-self: center;
}
/*  dropdown menu*/
.dropDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menuBars {
  align-self: center;

}
/*DropDown Menu Styles*/
.menu-container {
  position: relative;
}
.dropdown_menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.dropdown_menu.active {
  opacity: 1;
  position: absolute;
  visibility: visible;
  transform: translateY(0);
  z-index: 1000;
}

.dropdown_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown_menu li {
  border-bottom: 1px solid #dddddd;
}

.dropdown_menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}
.dropdown_menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.dropdown_menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.dropdown_menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.dropdown_menu-trigger img {
  border-radius: 90px;
}
@media only screen and (max-width: 540px) {
  .homeContent {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    width: 100%;
    justify-content: center;
  }
  .mainImage-1{
    width: auto;
    justify-self: center;
    padding: 0
  }
  .mainText {
    width: auto;
    align-self: center;
    padding: 1rem 1rem;
    text-align: center
  }
}