body, html {
  background-color:  #A8D6EB; 
}

.titleBox {
  background-image: url(images/salt-lake-city.jpg);
  background-color: #A8D6EB;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  width: 100%;
  min-height: 80vh;
  -webkit-background-size: cover;
  -moz-background-size: cover ;
  -o-background-size: cover;
}

.mainHeader {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  /* font-stretch: expanded; */
}

.motto {
  font-family: 'Amatic SC', cursive;

}
.homeContentGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50em;
}

.missionStatement {
grid-area: about;
background: black;
padding: 3rem 0 ;
width: 100%;
color: white;
text-align: center;
}

.homeContent {
  display: flex;
  margin: 1rem 1rem;
  width: 100%;
  justify-content: center;

}
.mainImage-1{
  justify-self: center;
  padding: 1rem 1rem;
  
}
.mainText {
  width: 35rem;
  align-self: center;
  padding: 1rem 1rem;
  text-align: center

}
/* styles for the social media icons */
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
 }
 
 a.social:hover {
 transform: translateY(-2px); 
 color: chartreuse;
 }
 
 a.facebook {
 color: #4968ad;
 }
 
 a.twitter {
 color: #49a1eb;
 }
 
 a.instagram {
 color: black;
 }

 /*Email Style*/
.emailBox {
  grid-area: email;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Roboto Slab', serif;
  padding: .5em;
  

}

a.email {
  color: darkblue;
}

a.email:hover {
  color: lightskyblue;
}
/*Events Layout style*/
.twitter {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
/*Footer style*/
.footer {
  position: absolute;
  width: 100%;
  height: 5rem;
}

.footerGrid {
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white; */
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #696969;
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "title" "address" 
                       "phone"  "email"
                       "social" "power"
}

.mainFooter {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  grid-area: title;
}
.phoneNum {
  font-family: 'Roboto Slab', serif;
  padding: .5em;
  /* font-size: 2em; */
  grid-area: phone;
}
.poweredBy {
  font-family: 'Roboto Slab', serif;
  /* font-size: 2em; */
  grid-area: power;
  padding: .5em;
}
.bizAddress{
  grid-area: address;
  padding: .5em;
}
/*Contact */
.contactContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
  flex-wrap: wrap;
  min-height: 30rem;
}
.contactTitle {
  display: flex;
  margin: 5rem 0 2rem;
  justify-content: center;
  justify-self: center;
  height: 5rem;
  width: 100%;
  font-family: "Merriweather", serif;
}
.contactForm {
  padding: 1rem 1rem;
  min-height: 40rem;
}
.contactHead {
  color:black;
  align-self: center;
  font-family: 'Solway', serif;
  padding-left: 1rem;

}
.contactMeta {
  align-self: center;
  font-family: 'Merriweather', serif;
}
/*FAQ Page style*/
.faqHead {
  text-align: center;
  padding: 1rem 0;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.faqContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120vh;
  margin: 5rem 0;
}
.cardContainer {
  justify-content: center;
  /* margin: 1rem 1rem; */
}
.faqCard {
 display: flex;
}
.cardHead {
  justify-content: center;
  padding: 1rem;
}
.cardMeta {
  justify-content: center;
  padding: 1rem;
}
/*End Of FAQ Styles*/
/* Mobile size Media Query's */
 /* @media only screen and (max-width: 767px) {
   body{
     margin: 0 0 0 0;
     width: 100%;

   }
  .titleBox {
    background-image: url(images/cocktail.jpg);
    background-color: blue;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-size: cover;
    width: 100%;
    min-height: 30em;
    
    -webkit-background-size: cover;
    -moz-background-size: cover, ;
    -o-background-size: cover,;
    /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0
    filter: grayscale(90%); 
  
  }
  
  .title {
    background-color: rgba(173, 166, 166, 0.836);
    opacity: 0.9;
    width: 100%;
  }
  
  
  .mainHeader {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
  }
  
  .motto {
    font-family: 'Roboto', serif;
  }
  .homeContentGrid {
    display: grid;
    grid-template-columns: 1fr 35em; 
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "about" 
                         "twitter" 
                         "awards";
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(85, 61, 61);
    color: white;
    min-height: 50em;
    width: 100%;
   
  }
  .about {
    grid-area: about;
    background-color: black;
    padding: 2.5em 0 0 0;
    height: 10em;
    
    
    }
    .col-3 {
      grid-area: twitter;
      width: 100%;
      justify-self: center;
    }
    .col-2 {
      grid-area: awards;
    
    }
 } */